{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %} 
<div class='p-5 hightContainer'>
    <h1 class="text-center text-primary" >{{type}} page</h1>

    <form class="mx-auto custom_input col-sm-10 col-md-8 col-lg-6 col-xl-4 bg-primary p-4 text-black bg-opacity-25  rounded border border-primary shadow-lg" method="post">
        {% csrf_token %}
        <!-- {{form | crispy }} -->
        
      {% for fm in form%} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
      {% endfor %}
      <br />
        <div class='d-flex justify-content-center'>
            <button class="btn btn-success btn-style">Submit</button>
        </div>
    
    </form>



</div>
{% endblock content %}